div {
    text-align: center;
}

div p {
    text-align: center;
    font-size: 40px;
    border-bottom: solid 5px #3B1C32;
    padding-bottom: 5px;
    width: 30%;
    margin: 0px auto;
    color: rgb(53, 53, 53);
}

form {
    display: inline-block;
    border: solid 1px rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
    text-align: center;
    margin: 100px auto;
    width: 30%;
}

.resetPasswordForm, .changePasswordForm {
    margin: 100px 20px;
}

form label {
    text-align: left;
    color: rgb(148, 148, 148);
    margin: 30px 0px 0px 0px; 
    float: left;
    font-size: 12px;
}

input {
    display: block;
    width: 90%;
    margin: 0px auto;
    padding: 15px 0px 15px 15px;
    border-radius: 20px;
    border: solid 1px rgb(238, 238, 238);
    font-size: 16px;
    color: rgb(97, 97, 97);
}

input:focus {
    border: solid 2px rgb(148, 65, 125);
    outline: none;
    transition: 0.5s;
}

label {
    padding: 10px;
}

button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #3B1C32;
    color: white;
    font-family: "HelveticaNeue";
    border: none;
}

button:focus {
    outline: none;
}

.forgotLink {
    display: block;
    margin: 20px 0px;
    color: rgb(72, 72, 187);
    text-decoration: none;
}

.signupText, .signupLink {
    font-size: 15px;
    text-decoration: none;
    border: none;
}

.forgotPasswordLabel, .changePasswordLabel, .resetPasswordLabel {
    font-size: 20px;
}

.errorMessage {
    width: 100%;
    color: red;
    font-size: 18px;
    border: none;
    margin-top: 25px;
}