.Navigation {
    z-index: 2;
    text-align: right;
    padding-right: 20px;
    height: 35px
}

.Navigation li {
    display: inline-block;
    margin: 0px 20px;
}

.navigation-link {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.navigation-link:hover {
    border-bottom: solid 2px rgb(26, 26, 26);
    transition: 0.15s ease-in-out;
}

